@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0300,400;1,700&display=swap");

:root {
  --main-background-color: rgba(0, 0, 0, 0.6);
  --main-text-color: #fff;
  --secondary-text-color: grey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-background-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
}

.flex-container {
  display: flex;
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center;
}

.arrow {
  width: 30px;
}

.clear {
  clear: both;
}

.upside-down-text {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
  left: 1rem;
  top: -4rem;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.logo {
  flex: 1;
  height: 4rem;
}

.logo img {
  width: 200px;
  height: 100%;
}

.rotate-hover {
  transform: rotate(-20deg);
  border-radius: 1rem;
}
.rotate-hover:hover {
  transform: rotate(0deg);
}

nav {
  flex: 4;
  margin-left: 1.5rem;
  width: 100%;
}

nav ul {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.search {
  flex: 2;
}

.search input {
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  padding: 1rem 2rem;
  border: 0;
  color: #555;
  font-size: 1.3rem;
}

.nav-link {
  color: var(--main-text-color);
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
}

.nav-link:hover {
  background: #111;
  border-radius: 0.6rem;
}

.main-article a {
  clear: both;
  padding: 3rem 0;
}

.bottom-article > a {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  color: black;
}

.upcoming a {
  display: inline;
  text-decoration: underline;
}

.see-all a {
  color: white;
}

.bottom-article p a {
  color: gray;
  text-decoration: underline;
}

.features p a {
  display: inline;
}

ul li:last-child a {
  background-color: #555;
  border-radius: 0.6rem;
}

.call-to-action {
  margin: 2.5rem;
  justify-content: flex-end;
  display: none;
}

.call-wrapper {
  align-items: center;
  flex-direction: column;
}

.call-wrapper h1 {
  text-align: center;
  background-color: var(--main-text-color);
  padding: 1rem;
  box-shadow: 0 200px 171 -92px rgba(0, 0, 0, 0.75);
}

.seriously {
  margin-left: 15rem;
  border: 2px dotted black;
  height: 70px;
  padding: 0 1rem;
  align-items: center;
}

.seriously div {
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background-color: var(--main-text-color);
}

.seriously button {
  margin-left: 1rem;
  background-color: gray;
  border: 1px solid white;
  height: 40px;
  padding: 1rem 1.2rem 2.2rem 1.5rem;
  font-size: 1.2rem;
  color: var(--main-text-color);
  border-radius: 1rem;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--main-text-color);
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.75);
}

.main-article {
  padding: 7rem 3rem 0 3rem;
}

.main-article:nth-child(1) {
  background-color: #999;
}

.main-article:nth-child(2) {
  background-color: #888;
}

.main-article:nth-child(3) {
  background-color: #aaa;
}

.main-article:nth-child(4) {
  background-color: #bfbfbf;
}

.author {
  align-items: center;
  margin-bottom: 1.5rem;
}

.author p {
  margin-left: 1rem;
}

.author p span {
  font-weight: 300;
  font-size: 0.9rem;
}

.main-article h2 {
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 30rem;
}

.main-article h2 span {
  font-size: 0.9rem;
}

.tags p {
  float: left;
  margin-right: 2rem;
}

.bottom-article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding: 1.5rem 3rem 0 3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom-article {
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
}

.bottom-article:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.bottom-article * {
  margin-bottom: 2rem;
}

.features img {
  border-radius: 50%;
}

.upcoming img {
  border-radius: 50%;
}

.person-of-week img {
  float: left;
  margin-right: 4rem;
}

.more-article img {
  height: 5rem;
  width: 6rem;
  margin-right: 3rem;
}

.design-system-section img {
  position: relative;
  top: -5rem;
}

.bottom-article a img {
  margin: 4rem 0 1rem 0;
}

.bottom-article:hover .bottom-article .arrow {
  background-color: rgba(0, 0, 0, 0.7);
}

.supporters p {
  text-align: center;
  font-size: 0.8rem;
}

.features * {
  margin-bottom: 1.3rem;
}

.generic-article-container {
  background: #666;
  border-radius: 1rem;
  margin: 0.8rem 1.2rem 0 0;
  text-align: center;
  padding: 2rem;
}

.upcoming * {
  margin-bottom: 2rem;
}

.click * {
  margin-bottom: 2rem;
}

.supporters div * {
  margin-bottom: 1rem;
}

#grammarly {
  width: 15rem;
}

.features button {
  border-radius: 0.7rem;
  padding: 1rem 1.5rem;
  border: 0;
}

.upcoming button {
  border-radius: 0.4rem;
  text-transform: uppercase;
  padding: 0.7rem;
  border: 0;
  font-size: 0.7rem;
}

.click button {
  display: block;
  margin: 2rem auto;
  border-radius: 0.4rem;
  text-transform: uppercase;
  padding: 0.7rem;
  border: 0;
  font-size: 0.7rem;
}

.design-system-section button {
  display: block;
  margin: 2rem 0;
  border-radius: 0.4rem;
  text-transform: uppercase;
  padding: 0.7rem;
  border: 0;
  font-size: 0.7rem;
}

.supporters div button {
  border-radius: 0.4rem;
  text-transform: uppercase;
  padding: 0.7rem;
  border: 0;
  font-size: 0.7rem;
}

.features {
  padding: 2rem;
  background: #aaa;
  border-radius: 0.7rem;
  text-align: center;
}

.features h3 {
  font-size: 1.8rem;
  text-decoration: underline;
}

.features p:first-child {
  font-size: 1.1rem;
}

.features p:last-child {
  font-size: 0.7rem;
}

.upcoming {
  border-radius: 0.8rem;
  margin: 1rem;
  background-color: #999;
  padding: 1.3rem;
  text-align: center;
}

.upcoming h3 {
  font-size: 2rem;
  text-decoration: underline;
}

.see-all-links {
  text-align: center;
  width: 11%;
  margin: 2rem auto;
  border-bottom: 4px solid black;
  text-transform: uppercase;
}

.see-all a:hover {
  color: #aaa;
}

.click {
  text-align: center;
  background-color: #222;
  padding: 4rem 16rem;
}

.click h3 {
  text-transform: uppercase;
}

.click h1 {
  font-size: 2.4rem;
}

.more-articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  position: relative;
  padding: 3rem;
  background: #fdfdfd;
}

.more-articles-container > h4 {
  position: absolute;
}

.person-of-week {
  grid-column: 1 / -1;
  margin: 1.5rem 0 10rem 0;
}

.design-system-section {
  background: #bfbfbf;
  padding: 1.8rem 2.5rem;
  justify-content: space-around;
}

.newsletter {
  background-color: #bbb;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
}

.newsletter form {
  margin: 2rem 0;
  font-size: 0;
}

.newsletter form input:first-child {
  padding: 1rem 2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 7px 15px -2px #000;
}

.newsletter form input:last-child {
  padding: 1rem 2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  outline: none;
  background-color: #777;
  box-shadow: 0 7px 15px -2px #000;
}

.newsletter div {
  width: 80%;
  margin: 0 auto;
  background-color: #666;
  border-radius: 5px;
  color: white;
}

footer {
  flex-direction: column;
  align-items: center;
  background-color: #444;
}

footer * {
  margin-bottom: 1.4rem;
}

.footer-links {
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
}

.footer-links a {
  margin-right: 1rem;
  text-transform: capitalize;
  color: white;
}

.footer-links a::before {
  content: "•";
  position: relative;
  left: -5px;
}

.footer-links a:hover {
  color: black;
}

footer p {
  width: 30%;
}

.bottom-links {
  width: 60%;
}
.bottom-links div {
  margin: 0 2rem;
  width: 70%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fixed-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 1rem 1.2rem;
  border: 0;
  background-color: #eee;
}
