@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

:root {
  --main-text-color: #fff;
  --secondary-text-color: grey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: gray;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

.flex-container {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.75);
}

.logo {
  flex: 1;
  height: 4rem;
}

.logo img {
  width: 200px;
  height: 100%;
}

nav {
  flex: 4;
  margin-left: 1.5rem;
  width: 100%;
}

nav ul {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.search {
  flex: 2;
}

.search input {
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  padding: 1rem 5rem;
  border: 0;
  color: #555;
  font-size: 1.3rem;
}

.nav-link {
  color: var(--main-text-color);
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
}

.nav-link:hover {
  background: #111;
  border-radius: 0.6rem;
}

ul li:last-child a {
  background-color: #555;
  border-radius: 0.6rem;
}

.call-to-action {
  margin: 2.5rem;
  justify-content: flex-end;
}

.call-wrapper {
  align-items: center;
  flex-direction: column;
}

.call-wrapper h1 {
  text-align: center;
  background-color: var(--main-text-color);
  padding: 1rem;
  box-shadow: 0 200px 171 -92px rgba(0, 0, 0, 0.75);
}

.seriously {
  margin-left: 15rem;
  border: 2px dotted black;
  height: 70px;
  padding: 0 1rem;
  align-items: center;
}

.seriously div {
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background-color: var(--main-text-color);
}

.seriously button {
  margin-left: 1rem;
  background-color: gray;
  border: 1px solid white;
  height: 40px;
  padding: 1rem 1.2rem 2.2rem 1.5rem;
  font-size: 1.2rem;
  color: var(--main-text-color);
  border-radius: 1rem;
}
