@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0300,400;1,700&display=swap");

:root {
  --main-background-color: rgba(0, 0, 0, 0.7);
  --main-text-color: #fff;
  --secondary-text-color: grey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

.flex-container {
  display: flex;
}

.arrow {
  width: 30px;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.logo {
  flex: 1;
  height: 4rem;
}

.logo img {
  width: 200px;
  height: 100%;
}

.author-image {
  transform: rotate(-20deg);
  border-radius: 1rem;
}

nav {
  flex: 4;
  margin-left: 1.5rem;
  width: 100%;
}

nav ul {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.search {
  flex: 2;
}

.search input {
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  padding: 1rem 2rem;
  border: 0;
  color: #555;
  font-size: 1.3rem;
}

.nav-link {
  color: var(--main-text-color);
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
}

.nav-link:hover {
  background: #111;
  border-radius: 0.6rem;
}

.main-article a {
  clear: both;
  padding: 3rem 0;
}

.bottom-article > a {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  color: black;
}

.bottom-article p a {
  color: gray;
  text-decoration: underline;
}

ul li:last-child a {
  background-color: #555;
  border-radius: 0.6rem;
}

.call-to-action {
  margin: 2.5rem;
  justify-content: flex-end;
  display: none;
}

.call-wrapper {
  align-items: center;
  flex-direction: column;
}

.call-wrapper h1 {
  text-align: center;
  background-color: var(--main-text-color);
  padding: 1rem;
  box-shadow: 0 200px 171 -92px rgba(0, 0, 0, 0.75);
}

.seriously {
  margin-left: 15rem;
  border: 2px dotted black;
  height: 70px;
  padding: 0 1rem;
  align-items: center;
}

.seriously div {
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background-color: var(--main-text-color);
}

.seriously button {
  margin-left: 1rem;
  background-color: gray;
  border: 1px solid white;
  height: 40px;
  padding: 1rem 1.2rem 2.2rem 1.5rem;
  font-size: 1.2rem;
  color: var(--main-text-color);
  border-radius: 1rem;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--main-text-color);
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.75);
}

.main-article {
  padding: 7rem 3rem 0 3rem;
}

.main-article:nth-child(1) {
  background-color: #999;
}

.main-article:nth-child(2) {
  background-color: #888;
}

.main-article:nth-child(3) {
  background-color: #aaa;
}

.main-article:nth-child(4) {
  background-color: #bfbfbf;
}

.author {
  align-items: center;
  margin-bottom: 1.5rem;
}

.author p {
  margin-left: 1rem;
}

.author p span {
  font-weight: 300;
  font-size: 0.9rem;
}

.main-article h2 {
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 30rem;
}

.main-article h2 span {
  font-size: 0.9rem;
}

.tags p {
  float: left;
  margin-right: 2rem;
}

.bottom-article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding: 1.5rem 3rem 0 3rem;
  margin-bottom: 15rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom-article-container > p {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
  left: 1rem;
  top: -4rem;
}

.bottom-article {
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
}

.bottom-article:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.bottom-article * {
  margin-bottom: 2rem;
}

.bottom-article a img {
  margin: 4rem 0 1rem 0;
}

.bottom-article:hover .bottom-article .arrow {
  background-color: rgba(0, 0, 0, 0.7);
}
